<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <h1>
      Welcome to Head Hunter
      <span style="color: #ed4545"><%= username %></span>
    </h1>
    <main>
      <p style="font-size: 1.2rem">
        Here is your new password to get access to Head Hunter:
      </p>
      <hr />
      <p>Password:</p>
      <p>🔑 <%= password %></p>
    </main>
  </body>
</html>
